<div class="bg-success">
    <div class="list-group">
        <ul class="list-unstyled">
            <li routerLink="/views/dashboard"><a class="list-group-item">Dashboard</a></li>
            <li><a class="list-group-item">How it works ! <small>(w3schools)</small></a></li>
            <li routerLink="/views/property-list"><a class="list-group-item">Property list</a></li>

            <li routerLink="/views/daily-updates1" ><a class="list-group-item">Daily updates</a></li>
            
            <li routerLink="/views/code-playground/test"><a class="list-group-item">Code playground</a></li>
            <li routerLink="/views/cheatsheets"><a class="list-group-item">Cheatsheets</a></li>
            <li routerLink="/views/emmet"><a class="list-group-item">Emmet</a></li>
            <li routerLink="/views/references"><a class="list-group-item">References</a></li>
        </ul>
    </div>
</div>
