<div class="text-right">
    <button [routerLink]="['/views/daily-updates1/points-to-remember']" >Points to remember</button>
</div>



<div class="outer_div">
    <p class="text-center" data-toggle="collapse" data-target="#10"><b> Aligning a button to right </b></p>
    <pre id="10" class="collapse">
        <!-- <p><button [routerLink]="['/daily-updates/external_js_file_comm']" >External Javascript file communication with angular</button></p> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 bg-light text-right">
                    <button type="button" class="btn btn-primary">Cancel</button>
                    <button type="button" class="btn btn-warning">Save</button>
                </div>
            </div>
        </div>
    </pre>
</div>