
-Project structure
BS3 or BS4
Index component - list of component/topics in w3schools (only name), topic redirection + intro + demo + *w3 reference +
**discontinued
How to
code playground
Reference - Links
Cheatsheets - tables list, tables list based on w3 topics, custom files
Queries
Emmnet way to write code

<div class="container-fluid">
    <div class="jumbotron btn-group">
        <h4 class="text-uppercase">w3schools topics <small class="text-success">* - intro not created</small></h4>
        <button class="btn btn-primary">Home*</button>
        <button class="btn btn-primary">Get Started*</button>
        <button class="btn btn-primary">Grid System*</button>
        <button class="btn btn-primary">Typography*</button>
        <button class="btn btn-primary">Tables</button>
        <button class="btn btn-primary">Images</button>
        <button class="btn btn-primary">Jumbotron</button>
        <button class="btn btn-primary">Wells</button>
        <button class="btn btn-primary">Alerts</button>
        <button class="btn btn-primary">Button</button>
        <button class="btn btn-primary">Button Groups</button>
        <button class="btn btn-primary">Glyphicons*</button>
        <button class="btn btn-primary">Badges/Labels</button>
        <button class="btn btn-primary">Progress bars</button>
        <button class="btn btn-primary">Pagination*</button>
        <button class="btn btn-primary">Panel</button>
        <button class="btn btn-primary">Dropdown</button>
        <button class="btn btn-primary">Collapse</button>
        <button class="btn btn-primary">Tabs/Pills</button>
        <button class="btn btn-primary">Navbar</button>
        <button class="btn btn-primary"><a href="#forms">Forms</a></button>
        <button class="btn btn-primary">Input</button>
        <button class="btn btn-primary">Input 2</button>
        <button class="btn btn-primary">Input sizing</button>
        <button class="btn btn-primary">Media objects</button>
        <button class="btn btn-primary">Carousal</button>
        <button class="btn btn-primary">Modal</button>
        <button class="btn btn-primary">Tooltip</button>
        <button class="btn btn-primary">Popover</button>
        <button class="btn btn-primary">Scrollspy*</button>
        <button class="btn btn-primary">Affix</button>
        <button class="btn btn-primary">Filters*</button>
        <!-- <ul class="list-inline">
            <li class="bg-primary">MySQL is a database management system.</li>
            <li class="bg-primary">MySQL databases are relational.</li>
            <li class="bg-primary">MySQL software is Open Source.</li>
        </ul> -->
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Tables</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A basic Bootstrap table has a light padding and only horizontal dividers.</p>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Images</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Working......</p>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../assets/images/profile.jpeg" class="img-rounded img-responsive" alt="Cinque Terre"
                        width="225" height="150">
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/images/profile.jpeg" class="img-circle img-responsive" alt="Cinque Terre"
                        width="225" height="150">
                </div>
                <div class="col-sm-4">
                    <img src="../../../assets/images/profile.jpeg" class="img-thumbnail img-responsive"
                        alt="Cinque Terre" width="225" height="150">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Jumbotron</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A jumbotron indicates a big box for calling extra attention to some special content or
            information.</p>

        <p class="panel-body"> A jumbotron is displayed as a grey box with rounded corners. It also enlarges the font
            sizes of the text
            inside it.</p>
        <div class="panel-body">
            <div class="jumbotron">
                <h1>Bootstrap Tutorial</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
                    responsive, mobile-first projects on the web.</p>
            </div>
        </div>
    </div>
</div>


<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Wells</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The .well class adds a rounded border around an element with a gray background color and
            some padding</p>
        <div class="panel-body">
            <div class="well">Basic Well</div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Alerts</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Bootstrap provides an easy way to create predefined alert messages.</p>
        <div class="panel-body">
            <div class="alert alert-success">
                <strong>Success!</strong> Indicates a successful or positive action.
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Buttons</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Working..............</p>
        <div class="panel-body">
            <button type="button" class="btn">Basic</button>
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Button Groups</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Bootstrap allows you to group a series of buttons together (on a single line) in a button
            group</p>
        <div class="panel-body">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Apple</button>
                <button type="button" class="btn btn-primary">Samsung</button>
                <button type="button" class="btn btn-primary">Sony</button>
            </div>
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Badges/Labels</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Badges are numerical indicators of how many items are associated with a link</p>
        <div class="panel-body">
            <a>News <span class="badge">5</span></a><br>
            <span class="label label-default">New</span>
            <span class="label label-warning">Warning Label</span>
            <span class="label label-danger">Danger Label</span>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Progress Bars</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A progress bar can be used to show a user how far along he/she is in a process.</p>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width:70%">
                    <!-- <span class="sr-only">70% Complete</span> -->
                    <span>70% Complete</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Basic List Groups</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The most basic list group is an unordered list with list items</p>
        <p class="panel-body">To create a basic list group, use an {{'<'}}ul{{'>'}} element with class .list-group, and
                {{'<'}}li{{'>'}} elements with class .list-group-item</p>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
            </ul>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Panel</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A panel in bootstrap is a bordered box with some padding around its content</p>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-body">A Basic Panel</div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Dropdowns</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A dropdown menu is a toggleable menu that allows the user to choose one value from a
            predefined list</p>
        <div class="panel-body">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Collapse</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Collapsibles are useful when you want to hide and show large amount of content</p>
        <div class="panel-body">
            <button data-toggle="collapse" data-target="#demo">Collapsible</button>

            <div id="demo" class="collapse">
                Lorem ipsum dolor text....
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Tabs/Pills</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Working.......</p>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Navbar</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">A navigation bar is a navigation header that is placed at the top of the page</p>
        <div class="panel-body">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Page 1</a></li>
                        <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div id="forms" class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Forms</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Form controls automatically receive some global styling with Bootstrap:</p>

        <p class="panel-body">All textual {{'
            <'}}input {{' />'}}, {{'<'}}textarea>, and {{'<'}}select{{'>'}} elements with class .form-control have a
                    width of 100%.
        </p>
        <div class="panel-body">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Inputs</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Working.......</p>
        <div class="panel-body">
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Inputs 2</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Working.......</p>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">someone@example.com</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Input Sizing</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Set the heights of input elements using classes like .input-lg and .input-sm.</p>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="inputsm">Small input</label>
                    <input class="form-control input-sm" id="inputsm" type="text">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Media Objects</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">Bootstrap provides an easy way to align media objects (like images or videos) to the left
            or to the right of some content. This can be used to display blog comments, tweets and so on</p>
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <img src="../../../assets/images/profile.jpeg" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe</h4>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Carousel</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Carousel plugin is a component for cycling through elements, like a carousel
            (slideshow).</p>
        <div class="panel-body">
            xample
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../../../assets/images/profile.jpeg" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="../../../assets/images/profile.jpeg" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="../../../assets/images/profile.jpeg" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Modal</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Modal plugin is a dialog box/popup window that is displayed on top of the current page
        </p>
        <div class="panel-body">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open
                Modal</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Tooltip</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Tooltip plugin is small pop-up box that appears when the user moves the mouse pointer
            over an element</p>
        <div class="panel-body">
            <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Popover (Working......)</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Popover plugin is similar to tooltips; it is a pop-up box that appears when the user
            clicks on an element. The difference is that the popover can contain much more content.</p>
        <div class="panel-body">
            <a href="#" data-toggle="popover" title="Popover Header"
                data-content="Some content inside the popover">Toggle popover</a>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Scrollspy (Working.......)</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Scrollspy plugin is used to automatically update links in a navigation list based on
            scroll position.</p>
        <div class="panel-body">

        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-9">
            <h4>Affix</h4>
        </div>
        <div class="col-sm-3 text-right">
            <button class="btn btn-primary">Explore</button>
        </div>
    </div>
    <div class="panel panel-default">
        <p class="panel-body">The Affix plugin allows an element to become affixed (locked) to an area on the page. This
            is often used with navigation menus or social icon buttons, to make them "stick" at a specific area while
            scrolling up and down the page.</p>
        <div class="panel-body">

        </div>
    </div>
</div>

